In [1]:
from qubo import XhsttToQubo
from xhsttparser import XHSTT
from dimod import ExactSolver

In [2]:
xhstt = XHSTT("dataset/Toy_Model.xml")
instance = next(iter(xhstt.instances.values()))
qubo = XhsttToQubo(instance, OneHotEnc=False)
model = qubo.compile()

event_name_a='Event0' event_name_b='Event1'
event_name_a='Event0' event_name_b='Event2'
event_name_a='Event0' event_name_b='Event4'
event_name_a='Event1' event_name_b='Event3'
event_name_a='Event1' event_name_b='Event5'
event_name_a='Event2' event_name_b='Event3'
event_name_a='Event2' event_name_b='Event4'
event_name_a='Event3' event_name_b='Event5'
event_name_a='Event4' event_name_b='Event5'

In [3]:
model.variables

['Event0[0]',
 'Event0[1]',
 'Event1[0]',
 'Event1[1]',
 'Event2[0]',
 'Event2[1]',
 'Event3[0]',
 'Event3[1]',
 'Event4[0]',
 'Event4[1]',
 'Event5[0]',
 'Event5[1]',
 'Event0[0] * Event0[1]',
 'Event1[0] * Event1[1]',
 'Event2[0] * Event2[1]',
 'Event3[0] * Event3[1]',
 'Event4[0] * Event4[1]',
 'Event5[0] * Event5[1]']

In [4]:
qubo.available_times

{'Daily_13.30 - 14.30': 0,
 'Daily_14.40 - 15.40': 1,
 'Daily_15.50 - 16.50': 2,
 'Daily_17.00 - 18.00': 3}

In [5]:
bqm = model.to_bqm()
sa = ExactSolver()
sampleset = sa.sample(bqm)
solutions = sampleset.to_pandas_dataframe().sort_values("energy")

In [6]:
solutions.head()

,Event0[0],Event0[0] * Event0[1],Event0[1],Event1[0],Event1[0] * Event1[1],Event1[1],Event2[0],Event2[0] * Event2[1],Event2[1],Event3[0],Event3[0] * Event3[1],Event3[1],Event4[0],Event4[0] * Event4[1],Event4[1],Event5[0],Event5[0] * Event5[1],Event5[1],energy,num_occurrences
28514,1,0,0,1,1,0,1,0,0,1,0,0,1,1,0,1,0,0,6.0,1
60574,1,0,0,1,0,0,1,1,0,1,0,0,1,0,0,1,1,0,6.0,1
126818,1,0,0,1,0,0,1,0,0,1,1,0,1,1,0,1,0,0,6.0,1
200862,1,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,1,0,6.0,1
60561,1,0,0,1,0,0,1,1,0,1,0,1,1,0,0,1,1,0,7.0,1

In [7]:
solutions.head().to_csv("solutions.csv")