In [1]:
from qubo import XhsttToQubo
from xhsttparser import XHSTT
from dimod import ExactSolver

In [2]:
xhstt = XHSTT("dataset/Toy_Model.xml")
instance = next(iter(xhstt.instances.values()))
qubo = XhsttToQubo(instance)
model = qubo.compile()

/home/evandrocrr/Workspace/qaoa-school-timetable/qubo.py:42: UserWarning: Constraint PreferTimesConstraint: PreferTimes_Event0 (False) { {'event_groups': [], 'events': ['Event0'], 'resource_groups': []} } not supported
  warnings.warn(f"Constraint {constraint} not supported")
/home/evandrocrr/Workspace/qaoa-school-timetable/qubo.py:42: UserWarning: Constraint PreferTimesConstraint: PreferTimes_Event1 (False) { {'event_groups': [], 'events': ['Event1'], 'resource_groups': []} } not supported
  warnings.warn(f"Constraint {constraint} not supported")
/home/evandrocrr/Workspace/qaoa-school-timetable/qubo.py:42: UserWarning: Constraint PreferTimesConstraint: PreferTimes_Event2 (False) { {'event_groups': [], 'events': ['Event2'], 'resource_groups': []} } not supported
  warnings.warn(f"Constraint {constraint} not supported")
/home/evandrocrr/Workspace/qaoa-school-timetable/qubo.py:42: UserWarning: Constraint PreferTimesConstraint: PreferTimes_Event3 (False) { {'event_groups': [], 'events': ['Event3'], 'resource_groups': []} } not supported
  warnings.warn(f"Constraint {constraint} not supported")

In [3]:
bqm = model.to_bqm()
sa = ExactSolver()
sampleset = sa.sample(bqm)
sampleset.to_pandas_dataframe().sort_values("energy")

,Aula0[0],Aula0[0] * Aula0[1],Aula0[1],Aula1[0],Aula1[0] * Aula1[1],Aula1[1],Aula2[0],Aula2[0] * Aula2[1],Aula2[1],Aula3[0],Aula3[0] * Aula3[1],Aula3[1],Aula4[0],Aula4[0] * Aula4[1],Aula4[1],Aula5[0],Aula5[0] * Aula5[1],Aula5[1],energy,num_occurrences
213528,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,0,-125.0,1
179224,0,1,0,1,0,1,1,0,1,0,0,0,1,0,1,0,1,0,-125.0,1
5654,1,0,1,0,0,0,1,0,1,0,1,0,0,1,0,1,0,1,-125.0,1
6322,1,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1,0,1,-125.0,1
201190,0,0,0,1,0,1,1,0,1,0,1,0,0,1,0,1,0,1,-125.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101949,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,1,620.0,1
94659,0,1,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,620.0,1
102851,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,1,0,620.0,1
101939,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,620.0,1
101948,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,720.0,1

In [4]:
qubo.all_events_as_variables

[LogEncInteger(Aula0,value_range=(0, 3)),
 LogEncInteger(Aula1,value_range=(0, 3)),
 LogEncInteger(Aula2,value_range=(0, 3)),
 LogEncInteger(Aula3,value_range=(0, 3)),
 LogEncInteger(Aula4,value_range=(0, 3)),
 LogEncInteger(Aula5,value_range=(0, 3))]

In [5]:
qubo.available_times

['Daily_13.30 - 14.30',
 'Daily_14.40 - 15.40',
 'Daily_15.50 - 16.50',
 'Daily_17.00 - 18.00']